a.title-link {
  color: unset;
  text-decoration: none;
  transition: color .5s;
}
a.title-link:hover {
  color: #26f;
}
.inline-block {
  display: inline-block;
}
.margin-btm-10 {
  margin-bottom: 10px;
}

/* Easter-Egg */

a.title-link:active {
  transition-delay: 2s;
  color: deeppink;
}
