.blog-attributes {
  background-color: #eee;
  display: inline-block;
  padding-top: 10px;
  padding-right: 25px;
  margin-bottom: 20px;
}
.inline-block {
  display: inline-block;
}
.margin-btm-10 {
  margin-bottom: 10px;
}
